//  ROOT
lang= en
dir= ltr
align= left
align-alt= right


//  FONTS
family-body= 'Roboto Slab', font-stack('Georgia')

weight-regular= 400
weight-bold= 700

font-default= 24px
font-small= 20px
font-h1= 60px
font-h2= 48px

font-h3= 1px  // undefined
font-h4= 1px  // undefined
font-h5= 1px  // undefined
font-h6= 1px  // undefined

//  LOAD FILES
@import "load"