extends ../layouts/public

block content
  .wrapper.workshop#w01
    .container
      
      h1 Hey There!
      h2 Hey There!
      p Hey There!
      //  ROOT
      //      section.root
      //        
      //        //  MESSAGE CASE
      //        .messageCase
      //          .h1.soon1: div #{soon.msgSoon1}
      //          .h1.soon2: div #{soon.msgSoon2}
      //        
      //        //  TEXT CASE
      //        .textCase
      //          .soon1 #{soon.txtSoon}
      //          .confirmation #{soon.txtConfirmation}