//  BASELINE GUIDE
//   7 :  (baseline/3)
//  14 :  (baseline/3*2)
//  21 :  baseline
//  28 :  baseline+(baseline/3)
//  35 :  baseline+(baseline/3*2)
//  42 :  baseline*2
//  49 :  baseline*2+(baseline/3)
//  56 :  baseline*2+(baseline/3*2)
//  63 :  baseline*3
//  70 :  baseline*3+(baseline/3)
//  77 :  baseline*3+(baseline/3*2)
//  84 :  baseline*4

baseline= 21px
translate= (baseline/3*2)


//  RESPONSIVE
delta= 1000px


//  COLORS
background= white
text-dark= #464646
text-default= #727272


//  TRANSITION
step= .03
pattern= 1.16
duration= .6s
easing= cubic-bezier(0.190,1.000,0.220,1.000)

xTransition(delay=0, d=0)
  transition: all (duration+delay) easing unit(delay+d, 's')

xtransitionMixin(min, max, d=0)
  delay= 0
  for x in min..max
    delay= (delay+step)*pattern
    &:nth-child({x})
      transition: all (duration+delay) easing unit(delay+d, 's')