//  BASELINE GUIDE
//   7 :  (baseline/3)
//  14 :  (baseline/3*2)
//  21 :  baseline
//  28 :  baseline+(baseline/3)
//  35 :  baseline+(baseline/3*2)
//  42 :  baseline*2
//  49 :  baseline*2+(baseline/3)
//  56 :  baseline*2+(baseline/3*2)
//  63 :  baseline*3
//  70 :  baseline*3+(baseline/3)
//  77 :  baseline*3+(baseline/3*2)
//  84 :  baseline*4

baseline= 21px
translate= (baseline/3*2)


//  RESPONSIVE
delta= 1000px
//alpha=  320px
//beta=   500px
//gamma=  600px
//delta=  992px


//  COLORS
background= white
text-dark= #464646
text-default= #727272